.popup__description_close-button {
    display: flex;
    width: 32px;
    height: 32px;
    border: 0;
    background-color: transparent;
    background-image: url(../../../../images/CloseIcon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
   
  }

  @media screen and (max-width: 550px) {
    .popup__description_close-button {
      width: 20px;
      height: 20px;
      top: -36px;
      right: 0;
    }
  }
  
  .popup__description_close-button:hover {
    opacity: 0.6;
  }