.popup__save-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF
  }

  @media screen and (max-width: 412px) {
    .popup__save-text {
      font-size: 14px;
      line-height: 17px;
  }
    