.button__pencil {
    border: 1px solid #FFFFFF;
    width: 24px;
    height: 24px;
    padding: 0;
  }
  
  @media screen and (max-width: 330px) {
    .button__pencil {
      width: 18px;
      height: 18px;
    }
  }
  
  .button__pencil:hover {
    opacity: 0.6;
  }