.button__save {
    background-color: #000000;
    min-height: 50px;
    margin: 0 36px 37px;
    border-radius: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
  }

  @media screen and (max-width: 412px) {
    .button__save {
      font-size: 14px;
      line-height: 17px;
      min-height: 46px;
  }
}
    
  .button__save:hover {
    opacity: 0.8;
  }