.button__plus {
    width: 150px;
    height: 50px;
    padding: 0;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
  }
  
  @media screen and (max-width: 680px) {
    .button__plus {
      width: calc(100vw - 38px);
    }
  }

  .button__plus:hover {
    opacity: 0.6;
  }