.profile__button_info {
    border: 1px solid #FFFFFF;
    width: 24px;
    height: 24px;
    padding: 0;
  }
  
  @media screen and (max-width: 330px) {
    .profile__button_info {
      width: 18px;
      height: 18px;
    }
  }
  
  .profile__button_info:hover {
    opacity: 0.6;
  }